.address-link {
  color: var(--third-color);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-item,
.contact-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contact-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14px;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}
