.header {
  background-color: var(--third-color);
  border-bottom: 1px solid #ececec;
}
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-color {
  color: var(--accent-color);
}
.header-list {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.connect-item:not(:last-child) {
  margin-right: 30px;
}
.header-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  transition: color 250ms var(--cubic);
}
.header-link {
  position: relative;
}
.header-link.current:after {
  content: '';
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
.contanct-icon,
.team-social-icon,
.our-clients-icon,
.footer-social-icon {
  fill: currentColor;
}
.contanct-icon {
  margin-right: 10px;
}
.nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms var(--cubic);
}
.header-link:focus,
.header-link:hover,
.nav-link:hover,
.nav-link:focus,
.contact-link:focus,
.contact-link:hover,
.address-link:hover,
.address-link:focus,
.our-clients-link:hover,
.our-clients-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
