.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--third-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
